.gitignore
# Ignore virtual environment
venv/

# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo

# Ignore log files
*.log
*.tmp

# Ignore other IDE specific files
.vscode/
.idea/git status

# Ignore the movuploads directory
movuploads/

